.bg-red{
    background-color: red;
}
.bg-blue{
    background-color: blue;
}
.bg-purple{
    background-color: purple;
}
.bg-grey{
    background-color: grey;
}
.bg-brown{
    background-color: brown;
}
.bg-green{
    background-color: green;
}
.bg-yellow{
    background-color: yellow;
}
.bg-violet{
    background-color: violet;
}
.bg-pink{
    background-color: pink;
}
.bg-orchid{
    background-color: orchid;
}
